@import "src/assets/Styles/colors";

@mixin Button {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $alt-bg;
  background: #0a1157;
  font-family: 'Poppins', sans-serif;
  width: 35%;
  letter-spacing: 2px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  margin: 12px;

}

@mixin intoText {
  padding: 30px;

  h2 {
    font-size: 50px;
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;

    line-height: 50px;
  }
  p {
    margin: 0 auto;
  }
}


@mixin inputTextField {
  transform: scale(0.8);
  position: relative;
  padding: 15px 20px 20px 15px;
  width: 300px;
  color: #525252;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 5px;
  font-family: $headerFont2;
  transition: width 0.8s ease;
  outline: none;
  border: none;
  margin-top: 5px;
  &:focus {
    border: 1px solid $headerColor;
    width: 400px;
    -webkit-box-shadow: 0px -1px 12px 7px rgba(255, 255, 255, 1.0);
    box-shadow: 0px -1px 12px 7px rgba(223, 228, 234, 1.0);
    transform: scale(1);
  }
}
