
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$textColor:white;
$headerColor:  #1a0f7c;
$backgroundColor: $headerColor;
$textHighlight: #ED542C;
$headerFont: 'Open Sans', sans-serif;
$textFont: 'Quicksand', sans-serif;
$textDecor:'Alegreya Sans', sans-serif;
$headerFont2:  'Poppins', sans-serif;
$alt-bg: #ffffff;
$alt-bg2: #C1B398;


